<%- include('partials/header'); -%>
<h1>Compose</h1>
   <form action="/compose" name="compose" method="POST">
        <div class="form-group">
        <label>Title</label>        
            <input type="text" class="form-control" name="postTitle">
        <label>Post</label>
            <textarea class="form-control" name="postBody" cols="30" rows="5"></textarea>      
        </div>
        
        <button type="submit" name="Publish" class="btn btn-primary mt-2">Publish</button>
    </form>
</div>


<%- include('partials/footer'); -%>